<div class="">
    <div class="">
        <div class="">
            Log In
        </div>
        <div class="">
            <form #loginForm = ngForm (ngSubmit)= "onSubmit()">
              <div class="" *ngIf="error">
                {{error}}
              </div>
                <div class="">
                  <label for="Email" class="">Email address</label>
                  <div class="">                    
                    <input type="email" name="email" class="" id="Email" aria-describedby="emailHelp" placeholder="Email here" [(ngModel)]="email" required>
                  </div>
                </div>
                <div class=""> 
                  <label for="Password" class="">Password</label>
                  <div class="col-md-10">
                    <input type="password" name="password" class="" id="Password" placeholder="Password here" [(ngModel)]="password" required>
                  </div>
                </div>
                <button [disabled]="!loginForm.valid" type="submit" class="">Submit</button>
                <div class=""><div>
                  Don't have an Account? <a routerLink="/signup" class="" >Sign Up</a>
                </div>
                <div class="ms-auto">
                  <a class="" routerLink="/password-reset">Reset Password</a>
                </div>
              </div>
              </form>
        </div>
    </div>
</div>