<div class="">
    <div class="">
        <div class="">
            Send Email for Password Reset
        </div>
        <div class="">
            <form #requestResetForm = ngForm (ngSubmit)="onSubmit()">
                <div class="">
                  <label for="Email" class="">Email address</label>
                  <div class="">                    
                    <input type="email" name="email" class="" id="Email" aria-describedby="emailHelp" placeholder="Email here" [(ngModel)]="email" required>
                  </div>
                </div>
                <button [disabled]="!requestResetForm.valid" type="submit" class="">Send Password Reset EMail</button>

              </form>
        </div>
    </div>
</div>