<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">
            Send Email for Password Reset
        </div>
        <div class="card-body">
            <form #requestResetForm = ngForm (ngSubmit)="onSubmit()">
                <div class="form-group row mb-3">
                  <label for="Email" class=" col-md-2 form-label">Email address</label>
                  <div class="col-md-10">                    
                    <input type="email" name="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Email here" [(ngModel)]="email" required>
                  </div>
                </div>
                <button [disabled]="!requestResetForm.valid" type="submit" class="btn btn-success">Send Password Reset EMail</button>

              </form>
        </div>
    </div>
</div>