<div class="px-32">
    <div class="flex justify-between items-center">
        <h3 class="text-lg ">
            Selected just for you
        </h3>
        <button class="topButton">
            {{ "Show More" | uppercase }}
        </button>
    </div>
    <div *ngIf="personProducts$ | async as personProducts">
        <div *ngFor="let personProduct of personProducts">
            <app-cards
            [name]="personProduct.productName"
            [price]="personProduct.productPrice"
            [discount]="personProduct.productDiscount"
            [image]="personProduct.productImage"
            >
            </app-cards>
        </div>
    </div>
</div>
