  <div class="">
    <div class="">SignUp Here</div>

    <div class="">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="">
          <label for="name" class="">Fullname</label>
          <div class="">
            <input type="text" name="name" class="" id="name" aria-describedby="nameHelp"
              placeholder="Firstname Middlename Lastname" [(ngModel)]="name" required />
            <div class="" *ngIf="error.name">
              {{ error.name }}
            </div>
          </div>
        </div>


        <div class="">
          <label for="Email" class="">Email address</label>
          <div class="">
            <input type="email" name="email" class="" id="Email" aria-describedby="emailHelp"
              placeholder="Email here" [(ngModel)]="email" required />
            <div class="" *ngIf="error.email">
              {{ error.email }}
            </div>
          </div>
        </div>

        <div class="">
          <label for="Password" class="">Password</label>
          <div class="">
            <input type="password" name="password" class="form-control" id="Password" placeholder="Password here"
              [(ngModel)]="password" required />
          </div>
        </div>

        <div class="">
          <label for="password_confirmation" class="">Confirm Password</label>
          <div class="">
            <input type="password" name="password_confirmation" class="" id="password_confirmation"
              placeholder="Make Sure Password is Correct" [(ngModel)]="password_confirmation" required />
            <div class="" *ngIf="error.password">
              {{ error.password }}
            </div>
          </div>
        </div>

        <button [disabled]="!signupForm.valid" type="submit" class="">
          Submit
        </button>
        <div class="">
          Already have an account?
          <a routerLink="/login" class="">Login</a>
        </div>
      </form>
    </div>
  </div>
