<div class="">
  <div class="">
    <div class="">Reset Password</div>
    <div class="">
      <form #resetPassForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="">
          <label for="Email" class="">Email address</label>
          <div class="">
            <input type="email" name="email" class="form-control" id="Email" placeholder="E-Mail here" [(ngModel)]="email" required />
            <div class="text-danger" *ngIf="error.email">
              {{ error.email }}
            </div>
          </div>
        </div>
        <div class="">
          <label for="Password" class="">Password</label>
          <div class="">
            <input type="password" name="password" class="form-control" id="Password" placeholder="Password here"
              [(ngModel)]="password" required />
          </div>
        </div>
        <div class="">
          <label for="Password" class="">Confirm Password</label>
          <div class="">
            <input type="password" name="confirmPassword" class="" id="confirmPassword"
              placeholder="Confirm Password here" [(ngModel)]="confirmPassword" required />
            <div class="text-danger" *ngIf="error.password">
              {{ error.password }}
            </div>
          </div>
        </div>
        <button [disabled]="!resetPassForm.valid" type="submit" class="">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>